$white: #fff;
$yellow: #2872a5;
$blue: #2872a5;
$orange: #ff6931;

$green: #41d9b6;
$green-light-1: #8de8d3;
$green-light-2: #a0ecda;
$green-light-3: #b3efe1;
$shadow-light: #dfdfdf;
$black-grey: #4e4e4e;