$white: #fff;
$yellow: #1D5B79;
$blue: #22A699;
$orange: #F24C3D;

$green: #41d9b6;
$green-light-1: #8de8d3;
$green-light-2: #a0ecda;
$green-light-3: #b3efe1;
$shadow-light: #dfdfdf;
$black-grey: #4e4e4e;