@use "colors";
@use "menu";
@use "loading";
@use "login";
@use "home";
@use "footer";

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.screen{
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}