@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-yellow: #1D5B79;
  --color-blue: #22A699;
  --color-orange: #F24C3D;
  --color-green: #41d9b6;
  --color-green-light-1: #8de8d3;
  --color-green-light-2: #a0ecda;
  --color-green-light-3: #b3efe1;
  --color-shadow-light: #dfdfdf;
  --color-black-grey: #4e4e4e;
  --color-blue-kota: #22A699;
}

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {}

@layer utilities {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

