@import "tailwindcss";

@theme {
    --color-white: #fff;
    --color-yellow: #1D5B79;
    --color-blue: #22A699;
    --color-orange: #F24C3D;
    --color-green: #41d9b6;
    --color-green-light-1: #8de8d3;
    --color-green-light-2: #a0ecda;
    --color-green-light-3: #b3efe1;
    --color-shadow-light: #dfdfdf;
    --color-black-grey: #4e4e4e;
}

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {}

@layer utilities {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

.item-transition-enter {
  @apply opacity-0 translate-y-12;
}

.item-transition-enter-active {
  @apply opacity-100 translate-y-0 transition-all duration-500 ease-in-out;
}

.item-transition-exit {
  @apply opacity-100 translate-y-0;
}

.item-transition-exit-active {
  @apply opacity-0 translate-y-12 transition-all duration-500 ease-in-out;
}

.modal-overlay-after-open {
  @apply opacity-100;
}

.modal-overlay-before-close {
  @apply opacity-0;
}

.modal-content-after-open {
  @apply opacity-100 scale-100;
}

.modal-content-before-close {
  @apply opacity-0 scale-95;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right {
  animation: fade-right 2s ease-in-out forwards;
}
